@import 'config';

.wrapper {
  width: calc(100% - 15vh);
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
}

.main {
  width: 100%;
  height: 100%;
}

.burger__menu {
  z-index: 2;
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: $accent;
    @include _borderRadius(5px);
    @include _transition(all, .5s);
    top: 50%;
    right: 50%;
    opacity: 1;

    transform: translate(50%, -50%);
  }

  &::before,
  &::after {
    position: absolute;
    background: $accent;
    @include _borderRadius(5px);
    @include _transition(all, .5s);
    width: 100%;
    height: 5px;
    display: block;
    content: '';
  }

  &::before {
    top: 3px;
    // left: 0;
  }

  &::after {
    bottom: 3px;
    // left: 0;
  }

  &.__clicked {
    span {
      transform: translateX(100%);
      opacity: 0;
    }

    &::before {
      transform: rotate(-225deg);
      top: 17.5px;
    }

    &::after {
      transform: rotate(225deg);
      bottom: 17.5px;



    }
  }

  @media only screen and (max-width : 1024px) {
    display: flex;
  }

}

.popup {
  @include _transition(all, .1s);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100500;
  display: none;

  // .popup__overlay 
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

}


input,
textarea {
  @include _transition(all, .5s);
  @extend .p;
  @include _borderRadius(5px);
  padding: 10px 20px;
  border: none;
  background: #060b0d;
  color: $textColor;
}

.form__popup {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $mainColor;
  @include _borderRadius(5px);
  @include _transition(all, .1s);
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  z-index: 2;
  width: 95%;
  max-width: 500px;
  padding: 50px 20px;


  &-input {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 15px;
    }
  }

  &-textarea {
    margin-bottom: 15px;
  }


}

.close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  display: flex;

  @include _transition(transform, .3s);

  span {
    @include _borderRadius(5%);
    position: absolute;
    // top: 0%;
    right: 0%;
    transform: rotate(45deg);
    display: block;
    background: $textColor;
    width: 100%;
    height: 3px;
    bottom: 10px;

    &::before {
      @include _borderRadius(5%); // top: 0%;
      right: 0%;
      bottom: 10px;
      content: '';
      position: absolute;
      top: 0;
      transform: rotate(-90deg);
      display: block;
      background: $textColor;
      width: 100%;
      height: 3px;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

// .custom
.custom {
  &-select {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    &.open {
      .custom-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    &-wrapper {

      position: relative;
      user-select: none;
      width: 100%;

    }

    // .custom-select-icon
    &-icon {
      width: 19px;
      height: 24px;
      margin-right: 14px;

      img {
        width: 100%;
        height: auto;
      }


      svg {
        @include _transition(all, .2s);
        width: 100%;
        height: auto;

        * {
          @include _transition(all, .2s);
        }
      }
    }

    // .custom-select-input
    &-input {
      position: absolute;
      height: 0;
      width: 0;
      pointer-events: none;
    }
  }

  &-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    @include adaptive(font-size, 20, 18, 0);
    width: 100%;
    height: 40px;
    // background: $mainColor;
    cursor: pointer;
    border: 1px solid $textColor;

    &>span {
      margin-right: 14px;
    }
  }

  &-options {
    position: absolute;
    display: block;
    top: 95%;
    left: 0;
    right: 0;
    border: 1px solid $textColor;
    border-top: 0;
    background: $mainColor;
    @include _transition(all, .5s);


    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, .2) 0 8px 16px 0;
  }

  &-option {
    position: relative;
    display: block;
    padding: 0 22px;
    @extend .p;
    cursor: pointer;
    @include _transition(all, .5s);

    &:hover {

      background-color: $accent;
      color: $mainColor;
    }

    &.selected {
      color: $mainColor;
      background-color: $accent;
    }
  }
}

// .arrow
.arrow {
  position: relative;
  height: 10px;
  width: 10px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
  }

  &::before {
    left: -2.7px;
    transform: rotate(45deg);
    background-color: #394a6d;
  }

  &::after {
    left: 2.7px;
    transform: rotate(-45deg);
    background-color: #394a6d;
  }

  .open &::before {
    left: -2.7px;
    transform: rotate(-45deg);
  }

  .open &::after {
    left: 2.7px;
    transform: rotate(45deg);
  }

}

// .triangle
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid $textColor;
  border-bottom: 0px solid transparent;
  @include _transition(all, .5s);

  .open & {
    border-top: 0px solid transparent;
    border-bottom: 10px solid $textColor;
  }
}

.btn {
  display: flex;
  padding: 0 10px;
  width: 100%;
  @include adaptive(max-width, 200, 250, 0);
  height: 45px;
  align-items: center;
  justify-content: center;
  @include _borderRadius(5px);
  @include _transition(all, .2s);

  background: $accent;
  color: #fff;

  &:hover {
    background: $accentSecond;
  }
}

.accordion {
  &-item {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;

    // .accordion-item__title
    &__title {
      font-size: 20px;
      padding: 5px;
      position: relative;
      cursor: pointer;
    }

    // .accordion-item__content
    &__content {
      transition: height .25s ease;
      overflow: hidden;

      // .accordion-item__content-wrapp 
      &-wrapp {
        @include _transition(all, .8s);
        font-size: 16px;
        padding: 5px;
        opacity: 1;
      }

      &:not(.active) {
        display: none;

        .accordion-item__content-wrapp {
          opacity: 0;
        }
      }
    }
  }
}