include includes/head.pug
body
  include includes/header.pug
  main(role='main')
    .wrapper
      section.section       
        a.btn.show__popup(data-type="form",href="#") Тык
  include includes/footer.pug