header.header
  .wrapper.header-wrapper
    .burger__menu
      span
      span
      span
    a.logo.header-logo(href="#")
      noscript.loading-lazy 
        img(src="img/favicon.png", alt="logo", draggable="false", loading="lazy", title="logo")
    include elements/-menu.pug
    a.btn.show__modal(data-type="form",href="#") BTN
